body {
  color: black;
  background-color: #3aaae8;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.line {
  border-bottom: 1px solid black;
}

h1 {
  font-size: 70px;
}

header {
  text-align: center;
}

input {
  width: 70%;
  border: 2px solid;
  border-radius: 10px;
  font-size: 24px;
  border-color: black;
  color: black;
}

#search-results {
  width: 70%;
  height: 190px;
  margin: 0 auto;
  border: solid 3px;
  border-color: #000;
  border-radius: 10px;
  opacity: 0.5;
}
