body {
  background: #3aaae8;
  color: #fff;
  font: 12px/18px "HelveticaNeue", Helvetica, Arial, sans-serif;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

.search:before,
.search:after {
  content: "";
  display: table;
}
.search:after {
  clear: both;
}
.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  position: absolute;
  left: 50%;
  border-radius: 10px;
  top: 50%;
  width: 25%;
}
